node_modules
dist

logs
*.log
yarn-debug.log*
yarn-error.log*

# Desktop Services Store for macOS
.DS_Store

# IDEs
.idea
.vscode

# TODO tasks
todo

# VIM artifacts
.swp
.*.sw*

# You can keep yarn.lock to ensure dependency consistency
# yarn.lock
